h1 {
  color: #3f51b5;
  font-size: 24px;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

mat-dialog-actions {
  justify-content: flex-end;
}

button {
  margin-left: 10px;
}

form {
  padding: 16px;
  max-height: 90vh;
  overflow-y: auto;
}

mat-dialog-content {
  overflow: visible;
}
