@if (this.isLoading) {
<div *ngIf="isLoading" class="flex items-center justify-center h-screen">
  <mat-spinner></mat-spinner>
</div>
} @else {
<div class="fixed right-4 bottom-6 md:bottom-9">
  <button mat-fab color="primary" (click)="createNewTask()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div>
  <h1 class="text-3xl font-bold text-white">Pending Tasks</h1>
</div>
<div
  class="grid grid-cols-1 mt-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
>
  @for (task of tasks; track $index) {
  <mat-card class="p-4 max-h-96 overflow-auto flex flex-col justify-between">
    <div>
      <mat-card-title class="break-word">{{ task.title }}</mat-card-title>
      <mat-card-content>
        <div class="max-h-32 overflow-y-auto">{{ task.description }}</div>
        <p>{{ task.createdAt | firebaseDate | date }}</p>
        <p>{{ task.isCompleted ? "Completed" : "Pending" }}</p>
      </mat-card-content>
    </div>
    <mat-card-actions class="flex justify-end">
      <button
        mat-icon-button
        aria-label="Mark as Completed"
        color="primary"
        matTooltip="Mark as Completed"
        (click)="completeTask(task)"
      >
        <mat-icon>done</mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Edit"
        color="basic"
        matTooltip="Edit"
        (click)="editTask(task)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Delete"
        color="warn"
        matTooltip="Delete"
        (click)="openDeleteDialog(task)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  }
</div>
@if (tasks.length === 0) {
<div class="text-center mt-10 font-bold text-lg text-white">
  <p>No pending tasks found</p>
</div>
} }
