<div
  class="flex justify-center items-center h-screen bg-gradient-to-r from-purple-400 via-pink-500 to-red-500"
>
  <mat-card class="w-96 bg-white rounded-xl shadow-lg p-6">
    <div class="flex flex-col items-center">
      <mat-card-title>
        <h1
          class="mb-6 bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 bg-clip-text text-transparent"
        >
          Login
        </h1>
      </mat-card-title>
      <mat-card-content class="w-full">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label class="text-lg text-gray-600">Email</mat-label>
            <input matInput formControlName="email" type="email" required />
            <mat-error *ngIf="loginForm?.get('email')?.errors?.['required']">
              Email is required
            </mat-error>
          </mat-form-field>
          <div class="flex justify-center mt-6">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              class="px-6 py-2 rounded text-white bg-blue-500 hover:bg-blue-600 text-lg font-bold"
            >
              Login
            </button>
          </div>
          <div *ngIf="isLoading" class="flex justify-center mt-2">
            <mat-spinner diameter="30"></mat-spinner>
          </div>
        </form>
      </mat-card-content>
    </div>
  </mat-card>
</div>
